# Node modules
node_modules/

# Build output
dist/

# Caches and temporary files
.vite/
.eslintcache
*.log
tmp/
temp/
*.tmp

# Environment variables
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Editor-specific files (customize as needed)
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store